<h1>Editing Task</h1>
<%= form_for @changeset, Routes.todo_path(@conn, :update, @todo), fn f -> %>
  <label>
    Task: <%= text_input f, :title %>
  </label>

  <%= submit "Save" %>
<% end %>

<%= link "Back", to: Routes.todo_path(@conn, :index) %>
